body {
  background-color: lightblue;
}

h2 {
  font-size: 1em;
}

section {
  border: 0.2em solid black;
  margin: 3em 0;
  background-color: darkgray;
}

img {
  height: auto;
  width: 10em;
  opacity: 0.4;
}

img:hover {
  opacity: 1;
  outline: 0.2em solid blue;
}


div {
  margin: 1em 0;

}

#opacity-2 {
  opacity: 0.2;
}

#opacity-4 {
  opacity: 0.4;
}

#opacity-6 {
  opacity: 0.6;
}

#opacity-8 {
  opacity: 0.8;
}

.bg-green {
  font-weight: bold;
  background-color: green;
}

#rgba-1 {
  background-color: rgba(0, 100, 0, 1);
}

#rgba-8 {
  background-color: rgba(0, 100, 0, 0.8);
}

#rgba-6 {
  background-color: rgba(0, 100, 0, 0.6);
}

#rgba-4 {
  background-color: rgba(0, 100, 0, 0.4);
}

#rgba-2 {
  background-color: rgba(0, 100, 0, 0.2);
}
