.galeria {
  width: 100%;
}

.galeria div {
  width: 33%;
  display: inline-block;
}

.galeria img {
  width: 30em;
  height: auto;
}

mark {
  padding: 0 3px;
  color: var(--color-white);
  background-color: var(--color-primary);
}
