.conteudo {
  width: 100%;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

.conteudo h2 {
  text-align: center;
}

#pfp {
  display: block;
  width: 60%;
  max-width: 250px;
  height: auto;
  margin: 0 auto;
}

header {
  width: 100%;
  min-height: 100vh;
  padding: 4rem 1rem;
  box-sizing: border-box;

  background-color: var(--color-black);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header>h1,
header>p {
  text-align: center;
  color: var(--color-white);
}

header>a:hover {
  color: var(--color-white);
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

header p {
  font-size: 1.1rem;
  line-height: 1.6;
}

#botao_saiba_mais {
  margin-top: 2rem;
  padding: 1rem 1.5rem;

  border-radius: 20px;
  background-color: var(--color-primary);
  color: var(--color-white);

  text-decoration: none;
  text-align: center;
}

#botao_saiba_mais:hover {
  color: var(--color-primary);
  background-color: var(--color-white);
  outline: 3px solid var(--color-primary);
}

.banner-links {
  color: var(--color-primary);
  text-decoration: none;
}

.banner-links:hover {
  color: var(--color-white);
}

#header-title {
  color: var(--color-primary);
}


/* Tablet */
@media (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }

  header p {
    font-size: 1.25rem;
  }

  #pfp {
    width: 50%;
  }

  .conteudo {
    width: 50%;
  }
}


/* Desktop */
@media (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .conteudo {
    width: auto;
    padding: 2rem;
  }

  #pfp {
    width: 50%;
  }

  h1 {
    font-size: 3.75rem;
  }

  header p {
    font-size: 1.5rem;
  }
}
